@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.portfolio_section {
  padding: clamp(1rem, 5vw, 3rem);
}
.portfolio_section h1{
  font-family: Oswald;
  text-align: left;
  font-size: clamp(1.6rem, 2.8vw, 2.8rem);
}

.flex_container_portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.portfolio_item {
  flex: 1 1 min(30%, 400px); /* Allows fluidity without media queries */
  display: flex;
  flex-direction: column;
}

.portfolio_item a {
  text-decoration: none;
}

.portfolio_item img:hover {
  opacity: 60%;
}

.portfolio_item img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
}

.portfolio_footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-family: 'Oswald', sans-serif;
  font-size: clamp(0.9rem, 1.3vw, 1.8rem);
  font-weight: 500;
  color: #000;
}

.flex_container_portfolio.single_row {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.full_width_item {
  width: 100%;
  max-width: 100%;
}

/* Media Query for mobile resolution (max-width: 768px) */
@media (max-width: 768px) {
  .flex_container_portfolio:not(.single_row) {
    flex-direction: column;
    align-items: center;
  }
  .portfolio_section h1{
    text-align: center;
  }

  .portfolio_item {
    flex: 1 1 100%; /* Takes full width for mobile */
    max-width: 100%;
  }
}
